@import "../../../styles/settings.scss";

.content {
  padding: 20px;
  text-align: center;

  h5 {
    color: $product-box-text;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
  }

  .stars {
    a {
      color: $product-box-stars;
      text-decoration: none;
    }

    .hoverStars {
      color: $product-box-stars-selected;
    }
  }
}
