@import "../../../styles/settings.scss";

.root {
  .fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .panelBar {
    margin-bottom: 50px;
    position: relative;


    .heading {
      position: relative;

      h3 {
        color: $new-furniture-heading-color;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $new-furniture-heading-color-before;
      }
    }

    .menu {
      text-align: center;
      margin-top: -35px !important;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $new-furniture-links-color;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $new-furniture-links-color-hover;
                @extend %hover-animation;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $new-furniture-dots-bg-color;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $new-furniture-dots-hover-active-color;
              @extend %hover-animation;
            }
          }
        }
      }
    }
  }
}
.stickyBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  justify-content: center;
  overflow-x: auto;

  .stickyBarImageContainer {
    position: relative;
    margin-right: 16px;
    img {
      width: 264px;
      height: 264px;

      object-fit: cover;
      align-items: center;
    }
    .stickyBarImageOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
    }

    &:hover {
      .stickyBarImageOverlay {
        opacity: 1;
      }
    }
  }

  .stickyBarImageIcon {
    color: #fff;
    font-size: 48px;
  }
}
