@import "../../../styles/settings.scss";

.root {
  .featureBar {
    margin-bottom: 30px;
    position: relative;


    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $client-feedback-dots-bg-color;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $client-feedback-dots-hover-active-color;
              @extend %hover-animation;
            }
          }
        }
      }
    }
  }
}
