@import "../../../styles/settings.scss";

.boxRow {
  flex: 0 0 33.3333%;
  padding: 0 10px;

  .root {
    display: flex;
    flex-direction: column;
  }
  .grayLayout {
    position: relative;
    display: flex;
    background: $Latest-Blog-Box-upper-Layout;
    height: 260px;
    width: 100%;
    align-items: flex-end;

    .headBar {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 250px;
      margin-left: 25px;
      padding: 20px 0;
      border: 1px solid $Latest-Blog-Box-button-text;
      background-color: $Latest-Blog-Box-button-text;

      div:nth-child(1) {
        padding-right: 10px;
      }

      div:nth-child(2) {
        padding-left: 10px;
      }

      span {
        font-size: 12px;
      }

      .calendar {
        color: $Latest-Blog-Box-calendar;
      }
    }
  }

  .whiteLayout {
    margin: 0 auto;
    text-align: center;
    background-color: $Latest-Blog-Box-button-text;

    .button {
      padding: 5px 30px;
      border: 1px solid $Latest-Blog-Box-button-background;
      background-color: $Latest-Blog-Box-button-background;
      color: $Latest-Blog-Box-button-text;
      font-weight: 500;
    }
    .activeButton {
      background-color: $Latest-Blog-Box-active-color;
      border: none;
    }
  }

  .content {
    width: 250px;
    text-align: left;
    padding-top: 20px;

    h2 {
      font-size: 16px;
      font-weight: bold;
    }

    .activeText {
      color: $Latest-Blog-Box-active-color;
    }
  }
}
