@import "../../../styles/settings.scss";

h1 {
  text-align: center;
  padding: 20px 0 0 0;
  margin-bottom: 0;
  font-size: 64px;
  font-family: $font-feedback;
}

.content {
  text-align: center;
  margin: 0 10%;
}

.contentRow {
  border-bottom: none !important;
  .image {
    flex: 0 0 50%;
    img {
      height: 100px;
      margin-left: 75%;
    }
  }

  .sign {
    flex: 0 0 50%;

    p:first-child {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 991px) {
  .sign {
    padding-left: 5%;
  }
}

@media (max-width: 767px) {
  .sign {
    padding-left: 10%;
  }
}

@media (max-width: 520px) {
  .sign {
    padding-left: 5%;
  }

  .contentRow {
    .image {
      img {
        margin-left: 50%;
      }
    }
  }
}

@media (max-width: 375px) {
  .sign {
    padding-left: 5%;
  }

  .contentRow {
    .image {
      img {
        margin-left: 40%;
      }
    }
  }
}
