@import "../../../styles/settings.scss";

.root {
  padding: 2rem;
}

.cardContent {
  padding: 8px 80px;

}
.card .brandImage {
  height: 120px;
  width: 140px;
  padding: 1px;

}

.card .brandImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arrow {
  font-size: 20px;
  margin: 10px;

}


