.formHeader{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 24px;
margin-bottom: 50px;
label{
  padding-left: 20px;
}

}

.wrapper{
  padding: 100px 250px;
}


.formBody{
  display: flex;
  flex-direction: column;
  padding: 20px;
  input {
    margin-bottom: 20px;
  }
}
.formInputs{
  input{
    width: 100%;
  }
}
h5 {

  margin-bottom: 20px !important;
}



#showPasswordSwitch .form-switch input {
  margin-left: 50px;
}


.checkboxes {

  .checkbox {
    margin-bottom: 10px;

  }
}



.checkbox input[type=checkbox] {
  appearance: none;
  background-color: #fff;
  margin-right: 10px;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}
