@import "../../../styles/settings.scss";

.root {
  border: 1px solid $search-border;
  display: inline-flex;
  height: 45px;
  color: $category-second-icon;

  .category {
    border-right: 1px solid $category-border-right;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 101%;
        height: 105%;
        border: 2px solid $primary;
      }
    }

    .icon:first-child {
      color: $category-icon-color;
      position: absolute;
      left: 10px;
      z-index: 0;
      font-size: 20px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 10px 30px 10px 35px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      font-weight: 500;

      &:focus {
        outline: none;
      }

      option {
        background-color: transparent;
      }
    }
  }
  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $search-placeholder-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
