@import "../../../styles/settings.scss";

.root {
  display: flex;
  margin-bottom: 40px;

  .fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .panelBar {
    margin-bottom: 30px;
    position: relative;

  }

  .box {
    border: 1px solid $furnitureGallery-boxBorder;

    .menu {
      text-align: center;
      padding: 0;

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        justify-content: inherit;
        margin-bottom: 0;

        li {
          height: 45px;
          text-transform: uppercase;
          flex: 1;
          display: flex;
          font-weight: 600;
          border-right: solid 1px $furnitureGallery-boxBorder;
          border-bottom: solid 1px $furnitureGallery-boxBorder;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            border-bottom: none;
            background-color: $furnitureGallery-button-category-hover;
            border-top: 2px solid $furnitureGallery-button-category-border-hover;
            @extend %hover-animation;
          }
        }
      }
      .activeCategory {
        border-bottom: none;
        background-color: $furnitureGallery-button-category-hover;
        border-top: 2px solid $furnitureGallery-button-category-border-hover;
        .button {
          color: $furnitureGallery-button-category-border-hover;
          background-color: $furnitureGallery-button-category-hover;
        }
      }
    }

    .imageBox {
      height: 409px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .iconButtons {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        cursor: pointer;

        .iconButton {
          margin-bottom: 6px;
          background-color: $furnitureGallery-button-icon-bg;
          position: relative;

          &:hover {
            color: $furnitureGallerySlider-button-font-hover;
            border-color: $furnitureGallery-button-category-border-hover;
            @extend %hover-animation;
          }

          &:hover > .iconCloud {
            display: inherit;
          }

          .iconCloud {
            padding: 2px;
            color: $furnitureGallerySlider-button-font;
            position: absolute;
            left: 50px;
            top: 0%;
            width: 120px;
            background-color: $furnitureGallerySlider-button-bg;
            transform: translateY(15%);
            align-content: flex-start;
            text-align: center;
            display: none;

            &::after {
              content: "";
              position: absolute;
              left: -2%;
              top: 25%;
              width: 15px;
              height: 15px;
              background-color: $furnitureGallerySlider-button-bg;
              transform: rotate(320deg);
              z-index: -1;
            }
          }
        }
      }

      .content {
        text-align: center;
        padding: 15px 15px 0;
        position: absolute;
        max-width: 250px;
        min-width: 225px;
        bottom: 20px;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $furnitureGallery-content-stars-bg;

        h5 {
          color: $product-box-text;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          margin-bottom: 0;
        }

        .triangle {
          width: 0;
          height: 0;
          border-left: 20px solid $furnitureGallerySlider-button-bg;
          border-right: 20px solid transparent;
          border-bottom: 20px solid transparent;
          position: absolute;
          top: 0;
          left: 0;
        }

        .triangle2 {
          width: 0;
          height: 0;
          border-left: 20px solid $furnitureGallerySlider-button-bg;
          border-right: 20px solid transparent;
          border-bottom: 20px solid transparent;
          transform: rotate(180deg);
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      .cirkle {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $furnitureGallery-cirkle-bg;
        bottom: 26%;
        right: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $furnitureGallerySlider-button-font;
      }
    }

    .sliderBox {
      height: 88px;
      padding: 8px 50px;

      .imageBox {
        width: 70px;
        height: 70px;
        margin: 0 3.5px;
        cursor: pointer;

        img {
          opacity: 0.5;
        }
      }
    }
  }

  .rightSection {
    .image {
      height: 620px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .sale {
        position: absolute;
        top: 70px;
        left: 60px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;

        .price {
          color: $furnitureGallery-bigPicture-price;
          font-size: 48px;
          margin-left: 5px;
        }
      }

      .name {
        position: absolute;
        top: 130px;
        left: 60px;
        font-weight: 600;
        font-size: 45px;
        color: $furnitureGallerySlider-bigPicture-button-font;
      }

      .button {
        position: absolute;
        top: 270px;
        left: 60px;
        width: 136px;
        height: 54px;
        border-radius: 3px;
        background-color: $furnitureGallery-bigPicture-button;
        color: $furnitureGallerySlider-button-font;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
      }
    }
  }
}
