@import "../../../styles/settings.scss";

.root {
  background-color: $product-box-bg;
  border: 1px solid $product-box-border;
  margin-bottom: 2rem;
  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $product-box-text;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: $product-box-text;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-box-line;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $product-box-border-bottom;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .outlines {
    .active {
      background-color: $product-box-icon-bg-active;
      color: $product-box-icon-color-active;
    }
  }
}
